
.voiceid {
    display: none;
}

.tel {
    display: none;
}

.img-btn {
    width: 34px;
}

.tooltip {
    --bs-tooltip-bg: #78715f;
    --bs-tooltip-color: #fff;
    --bs-tooltip-opacity: .8;
    --bs-tooltip-arrow-height: .7rem;
}

.list {
    height: calc(100vh - 200px);
    overflow-y: auto;
}
